@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: rgb(45,151,152);
background: radial-gradient(circle, rgba(45,151,152,1) 0%, rgba(5,10,60,1) 100%);

  
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
 
}
.rodape {
    margin-bottom: -200px;
    border-top: 0.4px solid #ffffff;
}


.cabecalho-imagem {
    height: 80px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
  }

  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }

  .Titulo{
    font-family: 'Righteous', cursive;
  font-weight: 5500;
  font-size: 70px;
  color: #ffffff;
  border-right: 5px solid;
  padding-left: 670px;
  margin-top:  -100px;
  padding-left:800px;
  margin-top: 130px;
  
  }

  .conteudo {
    margin-bottom: 48px;
   
    border-top: 0.4px solid #ffffff;
  }

  .embreve1{
    height: 310px;
    padding: 50px;
    padding-left: 100px;
  }

  .embreve2{
    height: 310px;
    padding: 50px;
    padding-left: 100px;
    
    
  }

  .embreve3{
    height: 310px;
    padding: 50px;
    padding-left: 100px;
    
    
  }
  .conteudo-secundario{

    margin-left: 65px;
    margin-top: 20px;
  }

  .design{

    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #fcfcfc;
    margin-left: 825px;
    margin-top: -40px;
   
  }
  
.web{
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #fcfcfc;
  margin-left: 260px;
  margin-top: -30px;
}
  .redes{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #fcfcfc;
    margin-left: 1400px;
    margin-top: -40px;

  }
  